{% liquid
  assign blk_st = block.settings

  assign collection = collections[blk_st.collection]
  assign collection_image = blk_st.image | default:collection.image | default: collection.products.first.featured_image
  assign img_ratio = 1 | divided_by: collection_image.aspect_ratio | times: 100
  assign img_alt = collection_image.alt | default: blk_st.title | default: collection.title
  assign count = collection.all_products_count

  if blk_st.style == '1'
     assign detail_class = 'pa tc anim'
  elsif blk_st.style == '2'
     assign detail_class = 'wd100 tc anim'
  elsif blk_st.style == '3'
     assign detail_class = 'pa fl f-col f-jcc f-aic wd100 h_100 tc anim'
  elsif blk_st.style == '4'
     assign detail_class = 'pa fl f-col f-jce f-aic wd100 h_100 tc anim'
  endif
%}
{%- capture styles -%}
--ttp:{{ blk_st.tbp }}px;--ratio:{{ img_ratio | default:100 }}%;--rounded:{{blk_st.irad }}px;--tbp:{{ blk_st.tbp }}px;
--cl:{{ blk_st.cl }};--fs:{{ blk_st.fs }}px;--fsm:{{ blk_st.fsm }}px;--fw:{{ blk_st.fw }};--lh:{{ blk_st.lh }};--bg:{{ blk_st.tbg | color_modify:'alpha', blk_st.tbg_op }};{% if blk_st.style == '4' %}--bgt:{{ blk_st.tbg | color_to_hex }}00;{% endif %}
{%- if blk_st.style == '1' -%}
  --psbtm:20px;--psbtmm:15px;
{%- else -%}
  --psbtm:0;--psbtmm:0;
{%- endif -%}
{%- endcapture -%}
<div id="blk-{{ block.id }}" class="cl_box cl_box{{ blk_st.style }} mb{{ blk_st.mbm }} mb{{ blk_st.mb }}-md{% if blk_st.hide_mb %} hide-sm{% endif %}" style="{{ styles | strip_newlines }}" {{ block.shopify_attributes }}>
      <a href="{{ blk_st.url | default:collection.url }}" class="db pr of_hidden brad{% if blk_st.zoom %} zoom_hov{% endif %}" title="{{ blk_st.title }}" style="--rounded:{% if blk_st.style == '2'  %}{{ blk_st.drad}}px;{% else %}{{ blk_st.irad}}px;{% endif %}">                    
        <div class="img pr of_hidden{% if blk_st.style == '2'  %} brad{% endif %}"  style="--rounded:{{ blk_st.irad}}px;">
          {%- if collection_image != blank -%}
            {{ collection_image | image_url: width: collection_image.width | image_tag: loading:'lazy', class:'imgFt', alt: img_alt, widths:"180,320,400,560,740,900,1200" }}
          {%- else -%}
            {% capture current %}{% cycle 1, 2, 3, 4 %}{% endcapture %}{{ 'collection-apparel-' | append: current | placeholder_svg_tag: 'placeholder-svg imgFt' }}
          {%- endif -%}
        </div>
        <div class="details {{ detail_class }} {{ blk_st.text-align }}{% if blk_st.style == '1'  %}brad{% endif %}" style="--rounded:{{ blk_st.drad}}px;">
        {% if blk_st.title != blank %}<div class="rgTxt {{blk_st.ft}}">{{ blk_st.title }}</div>{% endif %}
        {% if blk_st.count and count != blank %}<div class="counts" style="--cl:{{ blk_st.cl }};">{{ 'collections.general.items_with_count' | t: count: count }}</div>{% endif %}
        </div>
      </a>
</div>
{% schema %}
{
  "name": "Collection",
  "tag": null,
  "settings": [
    {
        "label": "Collection",
        "id": "collection",
        "type": "collection"
    },
    {
        "type":"image_picker",
        "id":"image",
        "label":"Upload image",
        "info":"Image size is flexible, but it should be big enough to display in a grid, and images should be the same size for all collections."
    },
    {
        "type":"text",
        "id":"title",
        "label":"Title",
        "default":"WOMEN"                   
    },
    {
        "type": "select",
        "id": "style",
        "label": "Grid style",
        "default": "1",
        "options": [
            { "value": "1", "label": "Style 1" },                     
            { "value": "2", "label": "Style 2" },
            { "value": "3", "label": "Style 3" },
            { "value": "4", "label": "Style 4" }
        ]
    },
        {
            "type":"checkbox",
            "id":"count",
            "label":"Show products count?",
            "default": false
        }, 	
         {
            "type": "checkbox",
            "id": "zoom",
            "label": "Image zoom on hover?",
            "default": true
        },
       {
            "type": "range",
            "id": "irad",
            "min": 0,
            "max": 100,
            "step": 1,
            "label": "Image rounded",
            "unit": "px",
            "default": 0
        },            
        {
            "type": "header",
            "content": "Text Appearance ==="
        },               
      {
            "type": "select",
            "id": "ft",
            "label": "Font family",
            "default": "ft1",
            "options": [
                {
                    "value": "ft1",
                    "label": "Font 1"
                },
                {
                    "value": "ft2",
                    "label": "Font 2"
                },
                {
                    "value": "ft3",
                    "label": "Font 3"
                }
            ]
        },
        {
            "type": "range",
            "id": "fs",
            "label": "Font size",
            "default": 14,
            "min": 12,
            "max": 100,
            "step": 1,
            "unit": "px"
        },
        {
            "type": "range",
            "id": "fsm",
            "label": "Font size (mobile)",
            "default": 14,
            "min": 12,
            "max": 50,
            "step": 1,
            "unit": "px"
        },  
       {
                    "type": "range",
                    "id": "lh",
                    "label": "Line height",
                    "default": 1.5,
                    "min": 1.0,
                    "max": 2.0,
                    "step": 0.1              
        },
        {
            "type": "select",
            "id": "fw",
            "label": "Font weight",
            "default": "500",
            "options": [
                {
                    "value": "300",
                    "label": "Light"
                },
                {
                    "value": "400",
                    "label": "Regular"
                },
                {
                    "value": "500",
                    "label": "Medium"
                },
                {
                    "value": "600",
                    "label": "Semi Bold"
                },
                {
                    "value": "700",
                    "label": "Bold"
                }
            ]
        }, 
       {
            "type": "color",
            "id": "cl",
            "label": "Text",
            "default": "#fff"
        },
        {
            "type": "color",
            "id": "tbg",
            "label": "Background",
            "default": "#000"
        },  
       {
            "type": "range",
            "id": "tbg_op",
            "min": 0,
            "max": 1,
            "step": 0.1,
            "label": "Background opacity",           
            "default": 0.6
        }, 
       {
            "type": "range",
            "id": "drad",
            "min": 0,
            "max": 100,
            "step": 1,
            "label": "Box rounded",
            "unit": "px",
            "default": 20
        }, 
       {
            "type": "range",
            "id": "tbp",
            "label": "Text padding (top/bottom)",
            "default": 12,
            "min": 10,
            "max": 100,
            "step": 1,
            "unit": "px",
            "info":"for style 2,4"
        },
    {
        "type": "range",
        "id": "mb",
        "label": "Margin Bottom",
        "default": 25,
        "min":0,
        "max": 50,
        "step":5,
        "unit": "px"
    },
    {
        "type": "range",
        "id": "mbm",
        "label": "Margin Bottom (mobile)",
        "default": 15,
        "min":0,
        "max":50,
        "step":5,
        "unit": "px"
    }
  ],
  "presets": [
    {
      "name": "Collection"
    }
  ]
}
{% endschema %}