 {% assign section_st = section.settings %}
{%- capture top_banner -%}
    <div class="sec_cov npd"  style="--sbg:{% if section_st.bgg != blank %}{{ section_st.bgg }}{% else %}{{ section_st.bg }}{% endif %};">      
            {%- liquid
                assign banner_img = section_st.image
                assign banner_imgm = section_st.mb_image
                assign banner_imgm_srcset = banner_imgm | image_url: width: banner_imgm.width | image_tag: widths: '360,480,760' | split: 'srcset="' | last | split: '"' | first
            -%}
            {% if section_st.image != blank %}
            <picture class="overlay" style="--overlay:{{ section_st.overlay | color_modify: 'alpha', section_st.overlay_op }};">
                {% if section_st.mb_image != blank %}
                    <source media="(max-width: 767px)" srcset="{{ banner_imgm_srcset }}" width="{{ banner_imgm.width }}" height="{{ banner_imgm.height }}">
                {% endif %}
                {{ banner_img | image_url: width: banner_img.width | image_tag: class:'imgFt heroImg', width:banner_img.width, height:banner_img.height, widths:"400,600,800,1000,1200,1400,1600,2000,2400,3000" }}
            </picture>
            {% endif %}
            {%  if  section.blocks.size > 0 %}
                <div class="hero_wrap fl{% if section_st.text-align %} f-jcc tc{% endif %} f-aic m_auto" style="--mht:{{ section_st.hit }}px;--mhtt:{{ section_st.hitt }}px;--mhtm:{{ section_st.hitm }}px;--mwd:{{ section_st.cntwd }}px;">
                    <div class="pr zi1 {% render 'animate-data', css:true %}">
                        {% for block in section.blocks %}
                            {% assign block_st = block.settings %}
                            {% if block.type == 'title' %}
                                <{{ block_st.htag}} class="rgTxt {{ block_st.tff}} mb{{block_st.mbm}} mb{{ block_st.mb }}-md{% if block_st.tuu %} ttu{% endif %}" style="--cl:{{ block_st.cl }};--fs:{{ block_st.fs }}px;--fsm:{{ block_st.fsm }}px;--fw:{{ block_st.fw }};--lh:{{ block_st.lh }};" {{ block.shopify_attributes }}>{{ collection.title }}</{{  block_st.htag }}>
                            {% elsif block.type == 'countdown' %}
                                <countdown-time class="atCounter box_timer fl{% if section_st.text-align %} f-jcc{% endif %} tc mb{{ block_st.mbm }} mb{{ block_st.mb }}-md ttu" data-date="{{ block_st.date }}"
                                     style="--cl:{{ block_st.cl }};--bg:{{ block_st.bg }};--bd:{{ block_st.bdr }};--rounded:{{ block_st.radius }}px;--fs:{{ block_st.fs }}px;--fsl:{{ block_st.fsl }}px;" {{ block.shopify_attributes }}>
                                    <span class="pd10"><span class="tm days">00</span>{{ 'date_formats.days' | t }}</span>
                                    <span class="pd10"><span class="tm hours">00</span>{{ 'date_formats.hours' | t }}</span>
                                    <span class="pd10"><span class="tm minutes">00</span>{{ 'date_formats.minuts' | t }}</span>
                                    <span class="pd10"><span class="tm seconds">00</span>{{ 'date_formats.seconds' | t }}</span>
                                </countdown-time>
                            {% elsif block.type == 'bc' %}
                                <nav class="breadcrumb inline fl f-wrap f-aic f-jcc{% if block_st.hidemb %} hide-sm{% endif %}{% if settings.bcase %} ttu{% endif %}" role="navigation" aria-label="breadcrumbs" style="--cl:{{ block_st.cl }};--fs:{{ block_st.fs }}px;--fsm:{{ block_st.fsm }}px">
                                    <a href="{{ routes.root_url }}" title="{{ 'general.breadcrumbs.home_link_title' | t }}">{{ 'general.breadcrumbs.home' | t }}</a>
                                    <span class="barr" aria-hidden="true"><svg class="at-icon arw right"><use xlink:href="#icon-arrow"></use></svg></span>
                                    {% if current_tags %}
                                        {% capture url %}{{ routes.collections_url }}/{{ collection.handle }}{% endcapture %}
                                        {{ collection.title | link_to: url }}
                                        <span class="barr" aria-hidden="true"><svg class="at-icon arw right"><use xlink:href="#icon-arrow"></use></svg></span>
                                        <span>{{ current_tags | join: " + " }}</span>
                                    {% else %}
                                        <span class="fwm">{{ collection.title }}</span>
                                    {% endif %}
                                </nav>
                                <script type="application/ld+json">
                                  {
                                      "@context": "https://schema.org",
                                      "@type": "BreadcrumbList",
                                      "itemListElement": [
                                          {
                                              "@type": "ListItem",
                                              "position": 1,
                                              "item": {
                                                  "@id": "{{ routes.root_url }}",
                                                  "name": "{{ 'general.breadcrumbs.home' | t }}"
                                              }
                                          }
                                              ,{
                                                  "@type": "ListItem",
                                                  "position": 2,
                                                  "item": {
                                                      "@id": "{{ routes.collections_url }}/{{ collection.handle }}",
                                                      "name": "{{ collection.title }}"
                                                  }
                                              }
                                      ]
                                  }
                                  </script>
                            {% elsif block.type == 'text' %}
                                <div class="rgTxt mb{{ block_st.mbm }} mb{{ block_st.mb }}-md{% if block_st.hidemb %} hide-sm{% endif %}" style="--cl:{{ block_st.cl }};--fs:{{ block_st.fs }}px;--fsm:{{ block_st.fsm }}px;--lh:{{ block_st.lh }};" {{ block.shopify_attributes }}>{{ block_st.title }}</div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}        
    </div>
{%- endcapture -%}
{{ top_banner | strip_newlines | remove: "  " | remove: "	" }}
{% schema %}
{
    "name": "Collection Page Banner",
    "class": "pgbnr",
    "enabled_on": {
      "templates": ["collection"]
    },
    "settings": [               
       {
            "type": "paragraph",
            "content": "[How do I set different banner for each collection?](https://www.adornthemes.com/knowledge-base/collection-banner/)"
        },
        {
            "type":"paragraph",
            "content":"Height ==="
        },
        {
            "type": "range",
            "id": "hit",
            "label": "Desktop",
            "default": 180,
            "min": 100,
            "max": 900,
            "step": 10
        },
        {
            "type": "range",
            "id": "hitt",
            "label": "Tablet",
            "default": 160,
            "min": 100,
            "max": 900,
            "step": 10
        },  
        {
            "type": "range",
            "id": "hitm",
            "label": "Mobile",
            "default": 100,
            "min": 50,
            "max": 900,
            "step": 10
        },
        {
            "type": "color",
            "id": "bg",
            "label": "Background",
            "default": "#f5f5f5"
        },
         {
            "type": "color_background",
            "id": "bgg",
            "label": "Gradient background"
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": "Background image",
            "info": "Recommended width 2000px and height as per above desktop height"
        },
        {
            "type": "image_picker",
            "id": "mb_image",
            "label": "Mobile image",
            "info": "Recommended width 750 and height as per above mobile height. If mobile image is blank, dekstop image will be used."
        },
      {
            "type": "color",
            "id": "overlay",
            "label": "Image overlay",
            "default": "#000"
        },
        {
            "type": "range",
            "id": "overlay_op",
            "min": 0,
            "max": 1,
            "step": 0.1,
            "label": "Overlay opacity",
            "unit": "%",
            "default": 0
        },                      
        {
            "type": "range",
            "id": "cntwd",
            "min": 600,
            "max": 1600,
            "step": 10,
            "label": "Container max. width (desktop)",
            "unit": "px",
            "default": 1000
        },
        {
            "type": "checkbox",
            "id": "text-align",
            "label": "Text align center?",
            "default": true
        }		
    ],
    "blocks": [
        {
            "type": "title",
            "name": "Collection Title",
            "limit":1,
            "settings": [
              {
                    "type": "select",
                    "id": "htag",
                    "label": "Heading tag",
                   "info":"Specify heading types for SEO and search engines for crawling purposes.",
                    "default": "h1",
                    "options": [
                        {
                            "value": "h1",
                            "label": "H1"
                        },
                        {
                            "value": "h2",
                            "label": "H2"
                        },
                        {
                            "value": "h3",
                            "label": "H3"
                        },
                        {
                            "value": "h4",
                            "label": "H4"
                        },
                        {
                            "value": "h5",
                            "label": "H5"
                        },
                        {
                            "value": "h6",
                            "label": "H6"
                        },
                       {
                            "value": "p",
                            "label": "P"
                        }
                    ]
                },               
               {
                    "type": "select",
                    "id": "tff",
                    "label": "Font family",
                    "default": "ft2",
                    "options": [
                        {
                            "value": "ft1",
                            "label": "Font 1"
                        },
                        {
                            "value": "ft2",
                            "label": "Font 2"
                        },
                        {
                            "value": "ft3",
                            "label": "Font 3"
                        }
                    ]
                },               
                {
                    "type": "range",
                    "id": "fs",
                    "label": "Font size",
                    "default": 22,
                    "min": 10,
                    "max": 100,
                    "step": 1,
                    "unit": "px"
                }, 
                {
                    "type": "range",
                    "id": "fsm",
                    "label": "Font size (mobile)",
                    "default": 20,
                    "min": 10,
                    "max": 60,
                    "step": 1,
                    "unit": "px"
                }, 	
                 {
                  "type": "select",
                  "id": "fw",
                  "label": "Font weight",
                  "default": "600",
                  "options": [
                    {
                      "value": "300",
                      "label": "Light"
                    },
                    {
                      "value": "400",
                      "label": "Regular"
                    },
                    {
                      "value": "500",
                      "label": "Medium"
                    },
                    {
                      "value": "600",
                      "label": "Semi Bold"
                    },
                    {
                      "value": "700",
                      "label": "Bold"
                    }
                  ]
                }, 
                {
                    "type": "checkbox",
                    "id": "tuu",
                    "label": "Use uppercase?",
                    "default": false			
                },
               {
                    "type": "color",
                    "id": "cl",
                    "label": "Color",
                    "default": "#000"
                },
                {
                    "type": "range",
                    "id": "mb",
                    "label": "Margin bottom",
                    "default": 5,
                    "min": 0,
                    "max": 50,
                    "step": 5,
                    "unit": "px"
                },			          
                {
                    "type": "range",
                    "id": "mbm",
                    "label": "Margin bottom (mobile)",
                    "default": 5,
                    "min": 0,
                    "max": 30,
                    "step": 5,
                    "unit": "px"
                }
            ]
        },
        {
            "type": "text",
            "name": "Text",  
            "limit":2,    
            "settings":[
                {
                    "type": "text",
                    "id": "title",
                    "label": "Text",
                    "default": "Banner short description",
                    "info": "Use dynamic source to show different text for each collection page."
                },
                {
                    "type": "checkbox",
                    "id": "hidemb",
                    "label": "Hide on mobile?",
                    "default": true			
                },               
                {
                    "type": "range",
                    "id": "fs",
                    "label": "Font size",
                    "default": 14,
                    "min": 10,
                    "max": 100,
                    "step": 1,
                    "unit": "px"
                },
                {
                    "type": "range",
                    "id": "fsm",
                    "label": "Font size (mobile)",
                    "default": 14,
                    "min": 10,
                    "max": 30,
                    "step": 1,
                    "unit": "px"
                },
                {
                    "type": "range",
                    "id": "lh",
                    "label": "Line height",
                    "default": 1.5,
                    "min": 1.0,
                    "max": 2.0,
                    "step": 0.1,
                    "info": "Space between text lines."
                },
               {
                    "type": "color",
                    "id": "cl",
                    "label": "Color",
                    "default": "#000"
                },
                {
                    "type": "range",
                    "id": "mb",
                    "label": "Margin bottom",
                    "default": 5,
                    "min": 0,
                    "max": 50,
                    "step": 5,
                    "unit": "px"
                },
                {
                    "type": "range",
                    "id": "mbm",
                    "label": "Margin bottom (mobile)",
                    "default": 5,
                    "min": 0,
                    "max": 30,
                    "step": 5,
                    "unit": "px"
                }      
            ]
        },
        {      
            "type": "countdown",
            "name": "Countdown Timer",  
            "limit":1,    
            "settings":[
                {
                    "type": "text",
                    "id": "date",
                    "label": "End Date",
                    "info": "Format - mm/dd/yyyy"
                },
                {
                    "type": "color",
                    "id": "bg",
                    "label": "Background",
                    "default": "#000"
                },
                {
                    "type": "color",
                    "id": "cl",
                    "label": "Text",
                    "default": "#eee"
                },
                {
                    "type": "color",
                    "id": "bdr",
                    "label": "Border",
                    "default": "#000"
                },
               {
                    "type": "range",
                    "id": "fs",
                    "min": 10,
                    "max": 30,
                    "step": 1,
                    "label": "Font size (digit)",
                    "unit": "px",
                    "default": 18
                },
               {
                    "type": "range",
                    "id": "fsl",
                    "min": 10,
                    "max": 20,
                    "step": 1,
                    "label": "Font size (label)",
                    "unit": "px",
                    "default": 12
                },
                {
                    "type": "range",
                    "id": "radius",
                    "min": 0,
                    "max": 50,
                    "step": 1,
                    "label": "Roudned corner",
                    "unit": "px",
                    "default": 0
                },
                {
                    "type": "range",
                    "id": "mb",
                    "label": "Margin bottom",
                    "default": 30,
                    "min": 0,
                    "max": 50,
                    "step": 5,
                    "unit": "px"
                },				            
                {
                    "type": "range",
                    "id": "mbm",
                    "label": "Margin bottom (mobile)",
                    "default": 20,
                    "min": 0,
                    "max": 30,
                    "step": 5,
                    "unit": "px"
                }      
            ]
        },
        {      
            "type": "bc",
            "name": "Breadcrumb",
            "limit":1,    
            "settings":[
                {
                    "type": "checkbox",
                    "id": "hidemb",
                    "label": "Hide on mobile?",
                    "default": true			
                },
                {
                    "type": "range",
                    "id": "fs",
                    "label": "Font size",
                    "default": 13,
                    "min": 10,
                    "max": 100,
                    "step": 1,
                    "unit": "px"
                },
                {
                    "type": "range",
                    "id": "fsm",
                    "label": "Font size (mobile)",
                    "default": 12,
                    "min": 10,
                    "max": 30,
                    "step": 1,
                    "unit": "px"
                },
                {
                    "type": "color",
                    "id": "cl",
                    "label": "Color",
                    "default": "#eee"
                },
                {
                    "type": "range",
                    "id": "mb",
                    "label": "Margin bottom",
                    "default": 0,
                    "min": 0,
                    "max": 50,
                    "step": 5,
                    "unit": "px"
                },
                {
                    "type": "range",
                    "id": "mbm",
                    "label": "Margin bottom (mobile)",
                    "default": 0,
                    "min": 0,
                    "max": 30,
                    "step": 5,
                    "unit": "px"
                }
            ]
        }
    ],
  "presets": [
    {
      "name": "Collection Page Banner"
    }
  ]
}
{% endschema %}