{%  assign section_st = section.settings %}
<div class="contact-page sec_cov{% if section_st.hidem %} hide-sm{% endif %}{% if section_st.hided %} hide-md hide-lg{% endif %}{% if section_st.bgimg != blank %} bgImg lazyload zi1{% endif %}" style="--sbg:{% if section_st.bgg != blank %}{{ section_st.bgg }}{% else %}{{ section_st.bg }}{% endif %};--sst:{{ section_st.sst }}px;--ssb:{{ section_st.ssb }}px;--sstm:{{ section_st.sstm }}px;--ssbm:{{ section_st.ssbm }}px;--cl:{{ section_st.cl }};--cl:{{section_st.headings_cl }};--overlay:{{ section_st.overlay | color_modify: 'alpha', section_st.overlay_op }};"
   {% if section_st.bgimg != blank %}data-bgset="{{ section_st.bgimg | image_url: width: section_st.bgimg.width | image_tag: widths: '400,600,800,1000,1400,1600,2000,2400,3000' | split: 'srcset="' | last | split: '"' | first }}" data-sizes="auto" data-parent-fit="contain"{% endif %}>  	
  <div class="page-width" style="--page-width:{{ section_st.page_width }}px;">        
      {% if page.content.size > 0 %}{{ page.content }}{% endif %}    

      {% if section_st.title != blank %}<h2 class="mb10 tc">{{ section_st.title }}</h2>{% endif %}
      {% if section_st.details %}<div class="rte tc mb30">{{ section_st.details }}</div>{% endif %}
    
      <div class="grid contact{{ section_st.layout }}{% if section_st.layout == "2" %} f-wrap{% endif %}">
        
        <div class="gitem{% if section_st.layout == "1" %} wd66-md{% endif %}">          
          <div class="contact-frm form-vertical {% render 'animate-data', css:true %}">
            {% form 'contact' %}
            {% if form.posted_successfully? %}<p class="border form-success">{{ 'contact.form.post_success' | t }}</p>{% endif %}

            {{ form.errors | default_errors }}
            {% # theme-check-disable UndefinedObject %}
                <div class="fl f-col f-row-md col-gap" style="--gap:15px;">
                  <div class="fl1 f-col f-row-md">
                    <input type="text" id="ContactFormName" name="contact[name]" placeholder="{{ 'contact.form.name' | t }}" value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}">
                  </div>       
                  <div class="fl1">
                    <input type="email" id="ContactFormEmail" name="contact[email]" placeholder="{{ 'contact.form.email' | t }}" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}" class="{% if form.errors contains 'email' %}input--error{% endif %}">
                  </div>              
                </div>
                {% unless section_st.show_phone %}
                <input type="tel" id="ContactFormPhone" name="contact[phone]" pattern="[0-9\-]*" placeholder="{{ 'contact.form.phone' | t }}" value="{% if form[phone] %}{{ form[phone] }}{% elsif customer %}{{ customer.phone }}{% endif %}">
                {% endunless %} 
                {% unless section_st.show_subject %}
                <input type="text" id="ContactFormSubject" name="contact[email subject]" placeholder="{{ 'contact.form.subject' | t }}" value="{% if form[subject] %}{{ form[subject] }}{% endif %}">
                {% endunless %}
                <textarea rows="10" id="ContactFormMessage" name="contact[body]" placeholder="{{ 'contact.form.message' | t }}">{% if form.body %}{{ form.body }}{% endif %}</textarea>
                <input type="submit" class="btn {{ section_st.btn-style }}" value="{{ 'contact.form.submit' | t }}">
            {% # theme-check-enable UndefinedObject %}
            {% endform %}
          </div>        
        </div>
        
        <div class="gitem {% if section_st.layout == "1" %}wd30-md{% endif %}">
          <div class="c_details{% if section_st.layout == "2" %} fl f-col f-row-md f-jcsb f-aist mt20{% endif %} {% render 'animate-data', css:true %}">                        
             {% for block in section.blocks %}
             {% assign blk_st = block.settings %}
                 {% case block.type %}             
                   {% when 'address' %}
                    <div class="col">
                    {% if blk_st.logo %}
                    <p class="mb20" {{ block.shopify_attributes }}>
                        {%- assign logo_alt = blk_st.logo.alt | default: shop.name | escape -%}
                        {% capture sizes %}(max-width: {{ blk_st.logowd | times: 2 }}px) 50vw, {{ blk_st.logowd }}px{% endcapture %}
                        {% capture widths %}{{ blk_st.logowd }}, {{ blk_st.logowd | times: 1.5 | round }}, {{ blk_st.logowd | times: 2 }}{% endcapture %}
                        {%- assign logo_ht = blk_st.logowd | divided_by: blk_st.logo.aspect_ratio -%}
                        {{ blk_st.logo | image_url: width: 600 | image_tag: loading:'lazy', class:'h_auto', widths:widths, height:logo_ht, width:blk_st.logowd, alt:logo_alt, sizes:sizes }}
                    </p>
                    {% endif %}
                    {% if blk_st.cnt_title != blank %}<div {{ block.shopify_attributes }} class="h4 fwm mb10">{{ blk_st.cnt_title }}</div>{% endif %}       
                    {% if blk_st.store_address != blank or blk_st.store_phone != blank or blk_st.store_email != blank %}
                    <ul class="c_address mb15" {{ block.shopify_attributes }}>
                      {% if blk_st.store_address != blank %}<li>{{ blk_st.store_address }}</li>{% endif %}
                      {% if blk_st.store_phone != blank %}<li class="phone">{{ blk_st.store_phone }}</li>{% endif %}
                      {% if blk_st.store_email != blank %}<li class="email">{{ blk_st.store_email }}</li>{% endif %}
                    </ul>
                    {% endif %}            
                    </div>
                
                    {% when 'devider' %}
                    <div class="sep" style="background:{{ blk_st.clr_hr }};" ></div>
                    <hr style="border-bottom:1px solid {{ blk_st.clr_hr }};" {{ block.shopify_attributes }} />                
                
                    {% when 'storetime' %}
                    <div class="col">
                    {% if blk_st.cnt_title != blank %}<div {{ block.shopify_attributes }} class="h4 fwm mb10">{{ blk_st.cnt_title }}</div>{% endif %}
                    {% if blk_st.storetime != blank %}<div class="mb15">{{ blk_st.storetime }}</div>{% endif %}
                    </div>
                
                    {% when 'socialicon' %}                
                    <div class="follow-us">
                    {% if blk_st.cnt_title != blank %}<div {{ block.shopify_attributes }} class="h4 fwm mb10">{{ blk_st.cnt_title }}</div>{% endif %}
                    {% if blk_st.show_socials %}  {%- render 'social-media' -%}{% endif %}
                    </div>                            
                   
                 {% endcase %}
          {% endfor %}            
          </div>
        </div>        
      </div>       
  </div>
</div>
{% schema %}
{
    "name": "Contact Form",
    "class":"contact-form",
    "disabled_on": {
      "groups": ["header", "footer", "custom.overlay"]
    },
    "settings": [
       {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Drop Us A Line"
      },
      {
        "type": "textarea",
        "id": "details",
        "label": "Sub Heading"
      },      
      {
            "type": "range",
            "id": "page_width",
            "label": "Container Width",
            "default": 1000,
            "min": 700,
            "max": 1800,
            "step": 100,
            "unit": "px"
       },   
      {
          "type": "select",
          "id": "layout",
          "label": "Select Style",
          "default": "1",
          "options": [
            {
            "value": "1",
            "label": "Style 1"
            },        
            {
            "value": "2",
            "label": "Style 2"
            }
          ]
       },   
      {
          "type": "checkbox",
          "id": "show_phone",
          "label": "Hide phone?",
          "default":false
      },
      {
          "type": "checkbox",
          "id": "show_subject",
          "label": "Hide subject?",
          "default":false
      },
      {
            "type": "select",
            "id": "btn-style",
            "label": "Button design",
            "default": "btn1",
            "options": [
            {
              "label": "Button 1",
              "value": "btn1"
            },
            {
              "label": "Button 2",
              "value": "btn2"
            },
            {
              "label": "Button 3",
              "value": "btn3"
            },
            {
              "label": "Button 4",
              "value": "btn4"
            },
           {
              "label": "Button 5",
              "value": "btn5"
            },
            {
              "label": "Button 6",
              "value": "btn6"
            },
             {
                      "label": "Button 7 Gradient",
                      "value": "btn7"
                  },
                  {
                      "label": "Button 8 Gradient",
                      "value": "btn8"
                  },
            {
              "label": "Link",
              "value": "btnLink"
            }  
          ]
       },
      {
            "type": "header",
            "content": "Section Design ==="
        },      
        {
            "type": "color",
            "id": "bg",
            "label": "Background",
            "default":"#fff"	
        },
        {
            "type": "color_background",
            "id": "bgg",
            "label": "Gradient background"
        },	
        {
            "type": "image_picker",
            "id": "bgimg",
            "label": "Background image"
          }, 
        {
            "type": "color",
            "id": "overlay",
            "label": "Image overlay",
            "default": "#000",
            "visible_if": "{{ section.settings.bgimg != blank }}"
        },
        {
            "type": "range",
            "id": "overlay_op",
            "min": 0,
            "max": 1,
            "step": 0.1,
            "label": "Overlay opacity",
            "unit": "%",
            "default": 0,
            "visible_if": "{{ section.settings.bgimg != blank }}"
        },
       {
            "type": "color",
            "id": "headings_cl",
            "label": "Text"
        },
		{
			"type": "range",
			"id": "sst",
			"min": 0,
			"max": 100,
			"step": 5,
			"label": "Spacing top",
			"unit": "px",
			"default":40
        },
		{
			"type": "range",
			"id": "ssb",
			"min": 0,
			"max": 100,
			"step": 5,
			"label": "Spacing bottom",
			"unit": "px",
			"default":40
        },		
		{
			"type": "range",
			"id": "sstm",
			"min": 0,
			"max": 100,
			"step": 5,
			"label": "Spacing top (mobile)",
			"unit": "px",
			"default":15
        },
		{
			"type": "range",
			"id": "ssbm",
			"min": 0,
			"max": 100,
			"step": 5,
			"label": "Spacing bottom (mobile)",
			"unit": "px",
			"default":15
        },
         {
            "type": "checkbox",
            "id": "hidem",
            "label": "Hide on mobile?",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "hided",
            "label": "Hide on desktop?",
            "default": false
        }
],
"blocks": [
      {
        "type": "address",
        "name": "Address",       
        "settings": [
		     {
                "type": "image_picker",
                "id": "logo",
                "label": "Logo image"
              },
              {
                "type": "range",
                "id": "logowd",
                "label": "Logo Width",
                "default": 100,
                "min": 50,
                "max": 500,
                "step": 10,
                "unit": "px"
              }, 
              {
                "type": "text",
                "id": "cnt_title",
                "label": "Title",
                "default":" Address"
              },             
              {
                "type": "richtext",
                "id": "store_address",
                "label": "Address",
                "default":"<p>55 Gallaxy Enque, 2568 steet, 23568 NY</p>"
              }, 
              {
                "type": "text",
                "id": "store_phone",
                "label": "Phone Number",
                "default":"<b>PHONE</b>: +1 (440) 568 4568"
              }, 
              {
                "type": "text",
                "id": "store_email",
                "label": "Email",
                "default":" <b>EMAIL</b>: sales@yousite.com"
             }
		]
	  },
	  {
        "type": "storetime",
        "name": "Store Time",
         "limit":3,
        "settings": [
             {
                "type": "text",
                "id": "cnt_title",
                "label": "Title",
                "default":"Opening Time:"
              },
            {
              "type": "richtext",
              "id": "storetime",
              "label": "Text",
              "default":"<p>Mon - Sat : 9am - 11pm <br/>Sunday: 11am - 5pm</p>"
            }
          ]
	  },
 	{
        "type": "devider",
        "name": "Divider",
		"settings": [
            {
              "type": "color",
              "id": "clr_hr",
              "label": "Border Color",
              "default":"#eee"
            }
          ]
	  },
	  {
        "type": "socialicon",
        "name": "Social Icon",
		"limit": 1,
        "settings": [
             {
                "type":"checkbox",
                "id":"show_socials",
                "label":"Show Socials",
                "default":true
              },
               {
                "type": "text",
                "id": "cnt_title",
                "label": "Title",
                "default":"Stay Connected"
              }
          ]
	  }
	],
    "presets": [
      {
        "name": "Contact Form" ,
         "category": "Contact",
          "blocks": [         
          {
            "type": "address"
          },   
          {
            "type": "devider"
          },
          {
            "type": "storetime"
          },  
          {
            "type": "devider"
          },
          {
            "type": "socialicon"
          }      		  
        ]
	}
    ]
}
{% endschema %}