{%- liquid 
    assign section_st = section.settings
    assign page_width = settings.cntwd | append: 'px'
    if section_st.sw
        assign page_width = '100vw'
    endif
-%}
{%- capture sizes -%}
(min-width:1024px) calc({{ page_width }} / {{ section_st.grid }}),(min-width:768px) calc(100vw / {{ section_st.gridtb }}), calc(100vw / {{ section_st.gridmb }})
{%- endcapture -%}
<div class="list-wishlist-product sec_cov{% if section_st.hidem %} hide-sm{% endif %}" style="--sbg:{% if section_st.bgg != blank %}{{ section_st.bgg }}{% else %}{{ section_st.bg }}{% endif %};--sst:{{ section_st.sst }}px;--ssb:{{ section_st.ssb }}px;--sstm:{{ section_st.sstm }}px;--ssbm:{{ section_st.ssbm }}px"> 
    <div class="{% if section_st.sw %}fw-sec{% else %}page-width{% endif %}">
        {%- if section_st.show_view_all != blank -%}
          <div class="sec-ttl-wrp fl f-jcsb f-aic">
            {%- render 'sec-title' -%}
            <div class="tc"><a href="{{ section_st.url }}" class="btn {{ section_st.btn-size }} {{ section_st.btn-style }}">{{ section_st.show_view_all }}</a></div>
          </div>
        {%-  else -%}
          {%- render 'sec-title' -%}
        {%- endif -%}
        {%- if section_st.carousel -%}
            <list-wishlist-products data-section-id="{{ section.id }}" data-url="{{ routes.search_url }}?section_id={{ section.id }}" data-limit="{{ section_st.row | plus: 1 }}"
              class="grid rwcols-{{ section_st.gridmb }} rwcols-md-{{ section_st.gridtb }} rwcols-lg-{{ section_st.grid }} rwcols-xl-{{ section_st.gridlg }} grid-products swiper"
              data-swiper='{ "slidesPerView":"auto", "loop":false, {% if section_st.autoplay %}"autoplay":{ "delay":"{{ section_st.speed | times: 1000 }}" },{% endif %} "navigation":{ "nextEl":".swn{{ section.id }}","prevEl":".swp{{ section.id }}" },"pagination":{ "el":".swpg{{ section.id }}","clickable":false }}'>
                <div class="swiper-wrapper wishlistPrList">
                  {%- for item in search.results -%}
                    <div class="{% if section_st.carousel %}swiper-slide {% endif %}gitem {% render 'animate-data', css:true %}" {% render 'animate-data' %}>{%- render 'product-card-grid', product: item, section_st:section_st, sizes: sizes -%}</div>
                  {%- endfor -%}
                </div>
                {%- render 'swiper-navigation', id:section.id, section_st:section_st -%}
            </list-wishlist-products>
        {%- else -%}
            <list-wishlist-products data-section-id="{{ section.id }}" data-url="{{ routes.search_url }}?section_id={{ section.id }}" data-id="{{ product.id }}" data-limit="{{ section_st.row | plus: 1 }}"
              class="grid rwcols-{{ section_st.gridmb }} rwcols-md-{{ section_st.gridtb }} rwcols-lg-{{ section_st.grid }} rwcols-xl-{{ section_st.gridlg }}  grid-products wishlistPrList">
                  {% for item in search.results %}
                    <div class="gitem {% render 'animate-data', css:true %}" {% render 'animate-data' %}>{% render 'product-card-grid', product: item, section_st:section_st, sizes: sizes %}</div>
                  {% endfor %}
            </list-wishlist-products>
        {%- endif -%}
    </div>
</div>
<script src="{{ 'list-wishlist.js' | asset_url }}" defer="defer"></script>
{% schema %}
  {
    "name": "List Wishlist Products",
    "settings": [
 	    {
        "id": "title",
        "type": "text",
        "label": "Title",
        "default": "Wishlist Products"
      },
 	    {
        "id": "icon_name",
        "type": "text",
        "label": "Icon Name"
      },
 	    {
        "id": "subtitle",
        "type": "textarea",
        "label": "Sub title"      
      },
	    {
        "type": "header",
        "content": "Grid image ==="
      },
      {
        "type": "checkbox",
        "id": "enable_custom_ratio",
        "label": "Enable Custom Ratio?",
        "default": false
      },
      {
        "type": "select",
        "id": "primg_ratio",
        "label": "Ratio",
        "default": "140",
        "visible_if": "{{ section.settings.enable_custom_ratio }}",
        "options": [
          {
            "value": "auto",
            "label": "Auto"
          },
          {
            "group": "Landscape",
            "value": "50",
            "label": "0:5"
          },
          {
            "group": "Landscape",
            "value": "60",
            "label": "0:6"
          },
          {
            "group": "Landscape",
            "value": "70",
            "label": "0:7"
          },
          {
            "group": "Landscape",
            "value": "80",
            "label": "0:8"
          },
          {
            "group": "Landscape",
            "value": "90",
            "label": "0:9"
          },
          {
            "group": "Squared",
            "value": "100",
            "label": "1:1"
          },
          {
            "group": "Portrait",
            "value": "110",
            "label": "1:1"
          },
          {
            "group": "Portrait",
            "value": "120",
            "label": "1:2"
          },
          {
            "group": "Portrait",
            "value": "130",
            "label": "1:3"
          },
          {
            "group": "Portrait",
            "value": "140",
            "label": "1:4"
          },
          {
            "group": "Portrait",
            "value": "150",
            "label": "1:5"
          },
          {
            "group": "Portrait",
            "value": "160",
            "label": "1:6"
          },
          {
            "group": "Portrait",
            "value": "170",
            "label": "1:7"
          },
          {
            "group": "Portrait",
            "value": "180",
            "label": "1:8"
          },
          {
            "group": "Portrait",
            "value": "190",
            "label": "1:9"
          }
        ]
      },
	    {
        "type": "header",
        "content": "Grid Appearance ==="
      },
      {
        "type": "select",
        "id": "prbox_style",
        "label": "Grid style",
        "default": "grid_1",
        "options": [
            {
              "value": "grid_1",
              "label": "Icons - Bottom Center"
            },
            {
              "value": "grid_2",
              "label": "Info. Hover Image"
            },
            {
              "value": "grid_3",
              "label": "Icons - Bottom Left"
            },
            {
              "value": "grid_4",
              "label": "Icons - Top Right"
            }
          ]
        },
      {
        "type": "paragraph",
        "content": "Products Per Row"
      },
      {
        "type": "range",
        "id": "gridlg",
        "label": "Desktop large",
        "default": 6,
        "min": 2,
        "max": 8,
        "step": 1
      },
      {
        "type": "range",
        "id": "grid",
        "label": "Desktop",
        "default": 4,
        "min": 2,
        "max": 6,
        "step": 1
      },
      {
        "type": "range",
        "id": "gridtb",
        "label": "Tablet",
        "default": 3,
        "min": 1,
        "max": 6,
        "step": 1
      },
      {
        "type": "range",
        "id": "gridmb",
        "label": "Mobile",
        "default": 2,
        "min": 1,
        "max": 4,
        "step": 1
      },
      {
        "type": "range",
        "id": "row",
        "label": "Products limit",
        "default": 6,
        "min":1,
        "max":15,
        "step":1
      },
      {
        "type": "text",
        "id": "show_view_all",
        "label": "Button Text",
        "info":"Show button below products to visit collection page"		
      },
      {
        "type": "url",
        "id": "url",
        "label": "Button Link"
      },
      {
        "type": "select",
        "id": "btn-style",
        "label": "Button design",
        "default": "btn1",
        "options": [
          {
          "label": "Button 1",
          "value": "btn1"
          },
          {
          "label": "Button 2",
          "value": "btn2"
          },
          {
          "label": "Button 3",
          "value": "btn3"
          },
          {
          "label": "Button 4",
          "value": "btn4"
          },
          {
          "label": "Button 5",
          "value": "btn5"
          },
          {
          "label": "Button 6",
          "value": "btn6"
          },
          {
            "label": "Button 7 Gradient",
            "value": "btn7"
          },
          {
            "label": "Button 8 Gradient",
            "value": "btn8"
          },
          {
            "label": "Link",
            "value": "btnLink"
          }
        ]
      },
      {
        "type": "select",
        "id": "btn-size",
        "label": "Button size",
        "default": "btn-md",
        "options": [
          {
            "label": "Small",
            "value": "btn-sm"
          },
          {
            "label": "Medium",
            "value": "btn-md"
          },
          {
            "label": "Large",
            "value": "btn-lg"
          }
        ]
      },
      {
      "type":"paragraph",
      "content":"Manage grid style from Theme settings -> Products grid"
      },
      {
        "type": "header",
        "content": "Slider Settings ==="
      },
      {
        "type":"checkbox",
        "id":"carousel",
        "label":"Enable carousel",
        "default": false
      },
 		  {
        "type": "checkbox",
        "id": "loop",
        "label": "Infinite loop",
        "default": true
      },
 		  {
        "type": "checkbox",
        "id": "autoplay",
        "label": "Auto-rotate slide",
        "default": false
      },
      {
        "type": "range",
        "id": "speed",
        "label": "Change slide every",
        "default": 5,
        "min": 1,
        "max": 30,
        "step": 1,
        "unit": "Sec"
      },
		  {
        "type": "checkbox",
        "id": "arrow",
        "label": "Show arrows on desktop?",
        "default": true
      },
		  {
        "type": "checkbox",
        "id": "arrowm",
        "label": "Show arrows on mobile?",
        "default": false
      },
		  {
        "type": "checkbox",
        "id": "dot",
        "label": "Show dots on desktop?",
        "default": false
      },
		  {
        "type": "checkbox",
        "id": "dotm",
        "label": "Show dots on mobile?",
        "default": false
      },
		  {
        "type": "header",
        "content": "Section Design ==="
      },
      {
        "type":"checkbox",
        "id":"sw",
        "label":"Fullwidth?",
        "default": false
      },
      {
        "type": "color",
        "id": "bg",
        "label": "Background",
        "default":"#fff"	
      },
      {
        "type": "color_background",
        "id": "bgg",
        "label": "Gradient background"
      },
      {
        "type": "color",
        "id": "headings_cl",
        "label": "Text"
      },
      {
        "type": "range",
        "id": "sst",
        "min": 0,
        "max": 100,
        "step": 5,
        "label": "Spacing top",
        "unit": "px",
        "default":40
      },
		  {
        "type": "range",
        "id": "ssb",
        "min": 0,
        "max": 100,
        "step": 5,
        "label": "Spacing bottom",
        "unit": "px",
        "default":40
      },
      {
        "type": "range",
        "id": "sstm",
        "min": 0,
        "max": 100,
        "step": 5,
        "label": "Spacing top (mobile)",
        "unit": "px",
        "default":15
      },
      {
        "type": "range",
        "id": "ssbm",
        "min": 0,
        "max": 100,
        "step": 5,
        "label": "Spacing bottom (mobile)",
        "unit": "px",
        "default":15
      },
      {
        "type": "checkbox",
        "id": "hidem",
        "label": "Hide on mobile?",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "hided",
        "label": "Hide on desktop?",
        "default": false
      }
	  ],
    "presets": [
      {
        "name": "Wishlist Products",
         "category": "Products"
        
      }
    ]
  }
{% endschema %}