{%- liquid assign prlimit = '5' -%}
{%- if predictive_search.performed -%}
    {%- if predictive_search.resources.queries.size > 0 or predictive_search.resources.collections.size > 0 -%}
        <div class="popkeywords s_suggestion fl f-wrap f-aic gap" role="group" aria-labelledby="predictive-search-queries" style="--gap:14px">
            <p class="rgTxt ft2 mb0 mr15">{{- 'general.search.suggestions' | t -}}:</p>
            {%- for query in predictive_search.resources.queries -%}
                <a href="{{ query.url }}" tabindex="-1" aria-label="{{ query.text }}">{{ query.styled_text }}</a>
            {%- endfor -%}
            
            {%- for collection in predictive_search.resources.collections -%}
                <a href="{{ collection.url }}" tabindex="-1">{{ collection.title }}</a>
            {%- endfor -%}
        </div>
        <hr />
    {%- endif -%}

    {%- if predictive_search.resources.products.size > 0 or predictive_search.resources.articles.size > 0 or predictive_search.resources.pages.size > 0 -%}
        <div class="fl f-col f-row-md gap" style="--gap:30px;--gapm:15px;">
            {%- if predictive_search.resources.products.size > 0 -%}
                <ul id="predictive-search-results-list" class="fl1 grid gspace rwcols-2 rwcols-md-3 rwcols-lg-5 predictive-search__results-list" aria-labelledby="predictive-search-products"
                    style="--grsp:7.5px;--grspm:5px;">
                    {%- for product in predictive_search.resources.products limit: prlimit -%}
                        {%- capture sizes -%}
                          (min-width:1024px) calc((100vw - 60px) / 5),(min-width:768px) calc((100vw - 45px) / 3), calc((100vw - 10px) / 2)
                      {%- endcapture -%}
                        <li class="gitem {% render 'animate-data', css:true %}" {% render 'animate-data' %}>{% render 'product-card-grid',product:product, showSw: false, sizes:sizes %}</li>
                    {%- endfor -%}
                </ul>
            {% endif %}
            {%- if predictive_search.resources.articles.size > 0 or predictive_search.resources.pages.size > 0 -%}
                <div class="psPages mb15">
                    <p class="rgTxt ft2 mb10">{{- 'general.search.pages' | t -}}</p>
                    <ul id="spageslist" class="spageslist" role="group" aria-labelledby="predictive-search-pages-desktop">
                        {%- for page in predictive_search.resources.pages -%}
                            <li class="psearch-list-item mb10" role="option" aria-selected="false"><a href="{{ page.url }}" class="psearch-item" tabindex="-1">{{ page.title }}</a></li>
                        {%- endfor -%}
                        {%- for article in predictive_search.resources.articles -%}
                            <li class="psearch-list-item mb10" role="option" aria-selected="false"><a href="{{ article.url }}" class="psearch-item" tabindex="-1">{{ article.title }}</a></li>
                        {%- endfor -%}
                    </ul>
                </div>
            {% endif %}
        </div>
        <p class="tc {% render 'animate-data', css:true %}">
            <a class="btn {{ settings.sbtn-size }} {{ settings.sbtn-style }}" href="{{ routes.search_url }}?q={{ predictive_search.terms }}&options%5Bprefix%5D=none&options%5Bprefix%5D=last">
                {{ 'general.search.all' | t: terms: predictive_search.terms }} 
                <svg viewBox="0 0 14 10" fill="none" aria-hidden="true" focusable="false" role="presentation" class="at-icon icon-arrow ml5 arwl right" style="height:10px" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M8.537.808a.5.5 0 01.817-.162l4 4a.5.5 0 010 .708l-4 4a.5.5 0 11-.708-.708L11.793 5.5H1a.5.5 0 010-1h10.793L8.646 1.354a.5.5 0 01-.109-.546z" fill="currentColor"></path></svg>
            </a>
        </p>
    {%- else -%}
        <p class="noResult tc">{{ 'general.search.no_results_html' | t: terms: predictive_search.terms }}</p>
    {%- endif -%}
{%- endif -%}