{%- capture textline -%}
{% assign section_st = section.settings %}
{% assign sec_id = section.id | split: '-' | last %}
<div class="sec_cov{% if section_st.hidem %} hide-sm{% endif %}{% if section_st.hided %} hide-md hide-lg{% endif %}{% if section_st.bgimg != blank %} bgImg lazyload zi1{% endif %}" style="--sbg:{% if section_st.bgg != blank %}{{ section_st.bgg }}{% else %}{{ section_st.bg }}{% endif %};--sst:{{ section_st.sst }}px;--ssb:{{ section_st.ssb }}px;--sstm:{{ section_st.sstm }}px;--ssbm:{{ section_st.ssbm }}px;--overlay:{{ section_st.overlay | color_modify: 'alpha', section_st.overlay_op }};"
   {% if section_st.bgimg != blank %}data-bgset="{{ section_st.bgimg | image_url: width: section_st.bgimg.width | image_tag: widths: '400,600,800,1000,1400,1600,2000,2400,3000' | split: 'srcset="' | last | split: '"' | first }}" data-sizes="auto" data-parent-fit="contain"{% endif %}>  	
	<div class="scrlTxtWrap fl w_100 of_hidden" style="--cl:{{ section_st.cl }};--fs:{{ section_st.fs }}px;--fsm:{{ section_st.fsm }}px;--fw:{{ section_st.fw }};--spd:{{ section_st.speed }}s;--spdm:{{ section_st.speedm }}s;--icns:{{ section_st.icns }}px;--grsp:{{ section_st.space }}px;">
        {%- for i in (0..5) -%}
          <div class="fl f-aic f-jcc marquee rgTxt">
            {%- for block in section.blocks -%}
              <div class="fl f-aic tc scrlTxt {{ section_st.ff }}{% if block.settings.outline %} outline{% endif %}">
                <span>{{ block.settings.text }}</span>
  
                {%- if section_st.icon == 'dot' -%}
                    <svg class="at-icon" height="512" viewBox="0 0 24 24" width="512" xmlns="http://www.w3.org/2000/svg"><path d="m12 20c4.4183 0 8-3.5817 8-8 0-4.41828-3.5817-8-8-8-4.41828 0-8 3.58172-8 8 0 4.4183 3.58172 8 8 8z" fill="rgb(0,0,0)"/></svg>
                {%- elsif section_st.icon == 'star' -%}
                    <svg class="at-icon" height="512" viewBox="0 0 32 32" width="512" xmlns="http://www.w3.org/2000/svg"><path d="m29.911 13.75-6.229 6.072 1.471 8.576c.064.375-.09.754-.398.978-.174.127-.381.191-.588.191-.159 0-.319-.038-.465-.115l-7.702-4.049-7.701 4.048c-.336.178-.745.149-1.053-.076-.308-.224-.462-.603-.398-.978l1.471-8.576-6.23-6.071c-.272-.266-.371-.664-.253-1.025s.431-.626.808-.681l8.609-1.25 3.85-7.802c.337-.683 1.457-.683 1.794 0l3.85 7.802 8.609 1.25c.377.055.69.319.808.681s.019.758-.253 1.025z"/></svg>
                {%- elsif section_st.icon == 'sparkle' -%}
                    <svg class="at-icon" height="512" viewBox="0 0 24 24" width="512" xmlns="http://www.w3.org/2000/svg"><path d="m21.137 11.519-2.726-.779a7.453 7.453 0 0 1 -5.151-5.151l-.779-2.726a.52.52 0 0 0 -.962 0l-.779 2.726a7.453 7.453 0 0 1 -5.151 5.151l-2.726.779a.5.5 0 0 0 0 .962l2.726.779a7.453 7.453 0 0 1 5.151 5.151l.779 2.726a.5.5 0 0 0 .962 0l.779-2.726a7.453 7.453 0 0 1 5.151-5.151l2.726-.779a.5.5 0 0 0 0-.962z" fill="rgb(0,0,0)"/></svg>
                {%- elsif section_st.icon == 'heart' -%}
                  <svg class="at-icon" height="512" viewBox="0 0 512.001 512.001" width="512" xmlns="http://www.w3.org/2000/svg"><path d="m256.001 477.407c-2.59 0-5.179-.669-7.499-2.009-2.52-1.454-62.391-36.216-123.121-88.594-35.994-31.043-64.726-61.833-85.396-91.513-26.748-38.406-40.199-75.348-39.982-109.801.254-40.09 14.613-77.792 40.435-106.162 26.258-28.848 61.3-44.734 98.673-44.734 47.897 0 91.688 26.83 116.891 69.332 25.203-42.501 68.994-69.332 116.891-69.332 35.308 0 68.995 14.334 94.859 40.362 28.384 28.563 44.511 68.921 44.247 110.724-.218 34.393-13.921 71.279-40.728 109.632-20.734 29.665-49.426 60.441-85.279 91.475-60.508 52.373-119.949 87.134-122.45 88.588-2.331 1.354-4.937 2.032-7.541 2.032z"/></svg>
                {%- elsif section_st.icon == 'flower' -%}
                  <svg class="at-icon" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="m493.8 195.5c-13-41.6-53.9-68-97.2-62.7-17.6 2.1-34.5 7.4-50.2 15.5-1.5.8-3.2-.5-2.9-2.1 3.1-17.5 3.1-35.1-.1-52.6-7.9-42.9-45.2-74-88.8-74s-81 31.1-88.8 74c-2.6 14.3-3.1 28.8-1.5 43.2.2 1.6-1.5 2.7-2.9 2-13-6.6-26.8-11.3-41-13.8-42.9-7.7-85.2 16.3-100.5 57.2-15.3 40.9.7 86.8 38.1 109.2 15.2 9.2 31.8 15.4 49.2 18.6 1.6.3 2.2 2.3 1 3.4-13.2 11.9-24 25.8-32.2 41.6-20.2 38.7-9.8 86.2 24.6 113 16.4 12.7 35.9 19.1 55.5 19.1 21.5 0 43-7.7 60.1-22.9 13.3-11.9 24.1-25.7 32.4-41.4.8-1.5 2.9-1.4 3.6.1 7.4 16.1 17.5 30.6 30 43.2 17.5 17.4 40.5 26.4 63.8 26.4 17.9 0 35.8-5.3 51.4-16.1 35.8-24.8 48.8-71.7 30.8-111.4-7.3-16.2-17.3-30.7-29.8-43.3-1.2-1.2-.5-3.2 1.2-3.4 17.6-2.2 34.4-7.6 50.2-15.8 38.4-20.4 57-65.4 44-107z"/></svg>
                {%- endif -%}
                </div>
            {%- endfor -%}
          </div>
      {%- endfor -%}
	</div> 
</div>
<script>
  /*
    var textWd = document.getElementById('st{{ sec_id }}'),
        element = document.getElementById('std{{ sec_id }}');
    width = Math.ceil(textWd.clientWidth);
    element.style.width = width * 2+'px';
  */
</script>
{%- endcapture -%}
{{ textline | strip_newlines | remove: "  " | remove: "	" }}
{% schema %}
{
"name": "Scrolling Text",
"class": "scrolTxt",
"disabled_on": {
        "groups": ["custom.overlay"]
    },
"settings":[
    {
            "type": "header",
            "content": "Text Appearance ==="
    },       
   {
        "type": "select",
        "id": "ff",
        "label": "Font Family",
        "default": "ft1",
        "options": [
            {
                "value": "ft1",
                "label": "Font 1"
            },
            {
                "value": "ft2",
                "label": "Font 2"
            },
            {
                "value": "ft3",
                "label": "Font 3"
            }
        ]
    },
    {
        "type": "range",
        "id": "fs",
        "label": "Font Size",
        "default": 70,
        "min": 10,
        "max": 200,
        "step": 2,
        "unit": "px"
    },  
    {
        "type": "range",
        "id": "fsm",
        "label": "Font Size (mobile)",
        "default": 50,
        "min": 10,
        "max": 100,
        "step": 1,
        "unit": "px"
    },   
    {
        "type": "select",
        "id": "fw",
        "label": "Font Weight",
        "default": "700",
        "options": [
            {
                "value": "300",
                "label": "Light"
            },
            {
                "value": "400",
                "label": "Regular"
            },
            {
                "value": "500",
                "label": "Medium"
            },
            {
                "value": "600",
                "label": "Semi Bold"
            },
            {
                "value": "700",
                "label": "Bold"
            }
        ]
    },
    {
        "type": "color",
        "id": "cl",
        "label": "Color",
        "default": "#000"
    },        
	{
        "type": "range",
        "id": "space",
        "label": "Text gap",
        "default": 35,
        "min": 0,
        "max": 100,
        "step": 1
    },
  {
        "type": "select",
        "id": "icon",
        "label": "Icon between Text",
        "default": "sparkle",
        "options": [
            {
                "value": "none",
                "label": "None"
            },
            {
                "value": "dot",
                "label": "Dot"
            },
            {
                "value": "star",
                "label": "Star"
            },
            {
                "value": "sparkle",
                "label": "Sparkle"
            },
            {
                "value": "heart",
                "label": "Heart"
            },
            {
                "value": "flower",
                "label": "Flower"
            }
        ]
    }, 	
	{
        "type": "range",
        "id": "icns",
        "label": "Icon Size",
        "default": 16,
        "min": 10,
        "max": 50,
        "step": 1
    }, 	
    {
      "type": "header",
      "content": "Scrolling ==="
    },
	  {
        "type": "range",
        "id": "speed",
        "label": "Speed",
        "default": 20,
        "min": 5,
        "max": 100,
        "step": 1		
      },
	  {
        "type": "range",
        "id": "speedm",
        "label": "Speed (mobile)",
        "default": 15,
        "min": 5,
        "max": 100,
        "step": 1
      },
	{
            "type": "header",
            "content": "Section Design ==="
        },     	                    
        {
            "type": "color",
            "id": "bg",
            "label": "Background",
            "default":"#fff"	
        },
        {
            "type": "color_background",
            "id": "bgg",
            "label": "Gradient Background"
        },	
        {
            "type": "image_picker",
            "id": "bgimg",
            "label": "Background Image"
          }, 
       {
            "type": "color",
            "id": "overlay",
            "label": "Image overlay",
            "default": "#000",
            "visible_if": "{{ section.settings.bgimg != blank }}"
        },
        {
            "type": "range",
            "id": "overlay_op",
            "min": 0,
            "max": 1,
            "step": 0.1,
            "label": "Overlay opacity",
            "unit": "%",
            "default": 0,
            "visible_if": "{{ section.settings.bgimg != blank }}"
        },
		{
			"type": "range",
			"id": "sst",
			"min": 0,
			"max": 100,
			"step": 5,
			"label": "Spacing Top",
			"unit": "px",
			"default":10
        },
		{
			"type": "range",
			"id": "ssb",
			"min": 0,
			"max": 100,
			"step": 5,
			"label": "Spacing Bottom",
			"unit": "px",
			"default":10
        },		
		{
			"type": "range",
			"id": "sstm",
			"min": 0,
			"max": 100,
			"step": 5,
			"label": "Spacing Top (mobile)",
			"unit": "px",
			"default":5
        },
		{
			"type": "range",
			"id": "ssbm",
			"min": 0,
			"max": 100,
			"step": 5,
			"label": "Spacing Bottom (mobile)",
			"unit": "px",
			"default":5
        },
      {
            "type": "checkbox",
            "id": "hidem",
            "label": "Hide on Mobile?",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "hided",
            "label": "Hide on Desktop?",
            "default": false
        } 	
],
  "blocks": [
    {
      "type": "text",
      "limit": 6,
      "name": "Text",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "text",
          "label": "Content",
          "default": "Free shipping on order over $199"
        },
       {
              "type": "checkbox",
              "id": "outline",
              "label": "Show Outline?",
              "default": false
       }
      ]
    }
  ],
"presets": [
	{
	  "name": "Scrolling Text",
      "category": "Promotion",
      "blocks": [
        {
          "type": "text"
        },
        {
          "type": "text"
        }
      ]
	}
]
}
{% endschema %}